
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <thead>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr> 
    </thead>
  </table> 

  <div class='row'>
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fa-duotone fa-solid fa-user-gear"></i> 
    <% end %> 
  </div>   

  <h2 class="mt-3">New book</h2>
  <%= form_with model: book do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book', class:"btn btn-success" %>
  <% end %>
