<div>
  <%= flash[:notice] %>
</div>

<%= render 'books/users', book: @book, user: @user %>

<h1>Book detail</h1>
<div>
  <%= link_to user_path(@book.user.id) do %>
    <%= image_tag @book.user.get_profile_image(100,100) %>
  <% end %>   
  <%= link_to user_path(@book.user.id) do %>  
     <%= @book.user.name %>
  <% end %>    
  <%= @book.title %>
  <%= @book.body %>
  <% if @book.user == current_user %>
     <p><%= link_to "Edit", edit_book_path(@book) %></p>
     <p><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?" %></p>
  <% end %>
</div>
